@use '../base/_variables' as *;
@use "../main.scss";

.footer {
  background-color: $primary-ultra-light;
  content-visibility: auto;

  &__head {

    @include minw($lg-mob) {
      display: flex;
      gap: 40px;
      align-items: center;
    }
  }

  &__menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    @include minw($lg-mob) {
      margin-top: 0;
      margin-left: auto;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
    }

    & a {
      @extend .link;
    }
  }

  &__logo {
    max-width: 100px;
    display: flex;

    img {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  &__content {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
  }

  &__info {
    padding-top: 40px;

    h3 {
      @include fluid-font(20, 28, 360, 1200)
    }

    p {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 24px;
      }
    }
  }

  &__copyright {
    background-color: $primary;
    padding: 26px 0;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;

      @include minw($lg-mob) {
        flex-direction: row;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;

    li {
      padding: 0 10px;

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}