@use '../base/_variables' as *;

.slider-pagination-wrapper {
    position: relative;
    height: 15px;
    margin-top: 18px;

    &:has(.swiper-pagination-lock) {
        display: none;
    }

    & .swiper-pagination {
        height: 100%;
        top: 0 !important;
    }

    & .swiper-pagination-bullet {
        --swiper-pagination-bullet-size: 10px;
        --swiper-pagination-color: transparent;
        --swiper-pagination-bullet-inactive-color: transparent;
        --swiper-pagination-bullet-inactive-opacity: 1;
        border: 1px solid $text-dark;

        &.swiper-pagination-bullet-active {
            --swiper-pagination-color: #{$text-dark};
        }
    }
}

.slider-pagination--light {

    & .swiper-pagination-bullet {
        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
    }
}

.swiper-button {
    display: none;
}


@media (min-width: $mq-lg) {
    .swiper-has-buttons {
        padding-top: 50px !important;
    }

    .swiper-button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        background-color: $primary;
        cursor: pointer;
        transition: $ease-in;
        border: 2px solid transparent;
        color: $text-dark;

        &:hover {
            background-color: transparent;
            border-color: $primary;
        }

        &.next {
            right: 0;
        }

        &.prev {
            right: 50px;
        }

        &.swiper-button-disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        & svg {
            height: 18px;
            width: 18px;
        }
    }
}

.main-buttons-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    @media (min-width: $mq-xl) {
        gap: 18px;
    }
}

.w-full {
    width: 100%;
}

.space-to-title:not(:first-child) {
    margin-top: 20px;

    @media (min-width: $mq-md) {
        margin-top: 30px;
    }
}

.breadcrumbs {
    margin-top: 12px;
    color: $text;

    & a {
        color: $text-dark;
        border-bottom: 1px solid $text-dark;
        transition: $ease-in;

        & img {
            height: 1em;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}

.scroll-top-wrap {
    position: fixed;
    z-index: 40;
    bottom: 88px;
    right: 10px;
    transition: bottom .25s ease;

    @media (min-width: $mq-md) {
        bottom: 118px;
    }

    @media (min-width: $mq-lg) {
        bottom: 90px;
    }

    &.bottom {
        bottom: 155px;

        @media (min-width: $mq-md) {
            bottom: 118px;
        }

        @media (min-width: $mq-lg) {
            bottom: 90px;
        }
    }
}

.scroll-top {
    @extend %primary-btn;

    width: 42px;
    padding: 0;
    color: $text;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    svg {
        width: 22px;
        height: 22px;
    }
}

.scroll-top-wrap.is-visible .scroll-top {
    opacity: 1;
    visibility: visible;
    transform: none;
}