@use '../base/_variables' as *;


.popup-contact-us {
    &__content {
        width: 100%;
        max-width: 567px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__inner {
        & .h2 {
            font-weight: 700;
        }

        & .wpcf7 {
            margin-top: 20px;
        }
    }
}

.popup-contact-us-trigger-btn-wrap {
    position: fixed;
    z-index: 40;
    bottom: 10px;
    right: 10px;
}

.popup-contact-us-trigger-btn {

    padding: 8px;
    background-color: $primary;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($primary, 2%);
    }

    & svg {
        height: 24px;
        width: 24px;
    }
}