@font-face {
  font-family: "Montserrat";
  src: url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Regular.ttf') format('ttf'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Regular.woff') format('woff'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Bold.ttf') format('ttf'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Bold.woff') format('woff'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-SemiBold.ttf') format('ttf'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-SemiBold.woff') format('woff'),
  url('/wp-content/themes/kolo-mozarta/dist/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}