//Color variables
$primary: #F8DB01;
$primary-light: #FFE98E;
$primary-ultra-light: #FFF8E8;
$primary-medium: #E6CC01;
$primary-dark: #F3D704;
$primary-ultra-dark: #E9CD00;

$white: #FFFFFF;

$text: #454545;
$text-filter: invert(24%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(102%) contrast(89%);
$text-dark: #212934;
$text-accent: #475857;

//Shadows
$card-shadow: 0px 20px 45px 0px #00000033;

//Radius
$radius-lg: 16px;
$radius-md: 8px;
$radius-sm: 4px;

//Font family
$primary-font: "Montserrat", sans-serif;
//Font size variables
$ease-in: all 0.3s ease-in;
$ease-out: all 0.3s ease-in-out;


//media
$full-hd: 1900px;
$lg: 1440px;
$pc: 1280px;
$sm-pc: 1024px;
$tablet: 968px;
$sm-tablet: 745px;
$lg-mob: 600px;
$mob: 480px;
$se: 360px;
$i5: 320px;

%line-decoration {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    max-width: 120px;
    background-color: $primary;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &-left {
    &::after {
      left: 0;
      transform: unset;
    }
  }
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 24px;
  border-radius: $radius-sm;
  background-color: $primary;
  color: $text;
  font-weight: 600;
  height: 42px;
  transition: $ease-in;
  border: 2px solid $primary;

  &:hover {
    background-color: transparent;
  }
}

%mask {
  mask-image: url("/wp-content/themes/kolo-mozarta/dist/images/mask.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

%mask-about {
  mask-image: url("/wp-content/themes/kolo-mozarta/dist/images/mask-about.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

%list-style {
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2229%22 height%3D%2228%22 viewBox%3D%220 0 29 28%22 fill%3D%22none%22%3E%3Crect x%3D%220.970703%22 y%3D%220.361816%22 width%3D%2227.19%22 height%3D%2227.19%22 rx%3D%2213.595%22 fill%3D%22%23F8DB01%22/%3E%3Cpath d%3D%22M20.4539 6.66936C20.5365 6.64182 20.6191 6.64182 20.7293 6.64182C21.1975 6.64182 21.583 7.02737 21.6105 7.49553V17.1893C21.6105 18.1807 20.4264 18.9518 18.9668 18.9518C17.5072 18.9518 16.323 18.1807 16.323 17.1893C16.323 16.2254 17.5072 15.4268 18.9668 15.4268C19.2697 15.4543 19.5451 15.4819 19.848 15.5369V10.4698L12.798 12.5352V18.9518C12.798 19.9432 11.6139 20.7143 10.1543 20.7143C8.69473 20.7143 7.51055 19.9432 7.51055 18.9518C7.51055 17.9879 8.69473 17.1893 10.1543 17.1893C10.4572 17.2168 10.7326 17.2444 11.0355 17.2994V10.1117C11.0355 9.7262 11.2834 9.39573 11.6414 9.25803L20.4539 6.66936Z%22 fill%3D%22white%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    left: 0;
    top: 0;

  }
}

%price {
  width: fit-content;
  padding: 0 25px 10px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 14px;
  border-bottom: 3px solid $primary;
  margin-bottom: 30px;

  &::before {
    content: "";
    background-image: url('data:image/svg+xml,<svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3643 9.02808C21.1064 9.77026 21.1064 10.9812 20.3643 11.6843L12.3955 19.6531C11.6924 20.3953 10.4814 20.3953 9.73926 19.6531L1.49707 11.4109C1.14551 11.0593 0.950195 10.5906 0.950195 10.0828V2.07495C0.950195 1.05933 1.77051 0.199951 2.8252 0.199951H10.7939C11.3018 0.199951 11.7705 0.434326 12.1221 0.785889L20.3643 9.02808ZM5.3252 6.44995C6.34082 6.44995 7.2002 5.62964 7.2002 4.57495C7.2002 3.55933 6.34082 2.69995 5.3252 2.69995C4.27051 2.69995 3.4502 3.55933 3.4502 4.57495C3.4502 5.62964 4.27051 6.44995 5.3252 6.44995ZM25.3643 11.6843L17.3955 19.6531C16.6924 20.3953 15.4814 20.3953 14.7393 19.6531L21.5361 12.8562C22.2002 12.1921 22.5908 11.2937 22.5908 10.3562C22.5908 9.4187 22.2002 8.55933 21.5361 7.89526L13.8799 0.199951H15.7939C16.3018 0.199951 16.7705 0.434326 17.1221 0.785889L25.3643 9.02808C26.1064 9.77026 26.1064 10.9812 25.3643 11.6843Z" fill="%23454545"/></svg>');
    background-size: cover;
    width: 25px;
    height: 20px;
  }
}

%primary-btn {
  cursor: pointer;
  width: fit-content;
  background: $primary;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  color: $text;
  font-size: 1.4rem;
  font-weight: 600;
  transition: $ease-in;
  border: 2px solid $primary;

  &:hover {
    background-color: transparent;
  }
}

%light-btn {
  border: 2px solid $primary;
  background: $primary-ultra-light;
}

%custom-list {
  li {
    padding-left: 40px;
    margin-bottom: 10px;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url('data:image/svg+xml,<svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.949951" y="0.564941" width="27.19" height="27.19" rx="13.595" fill="%23F8DB01"/><path d="M20.4333 6.87249C20.5159 6.84495 20.5985 6.84495 20.7087 6.84495C21.1768 6.84495 21.5624 7.23049 21.5899 7.69866V17.3924C21.5899 18.3838 20.4057 19.1549 18.9462 19.1549C17.4866 19.1549 16.3024 18.3838 16.3024 17.3924C16.3024 16.4285 17.4866 15.6299 18.9462 15.6299C19.2491 15.6574 19.5245 15.685 19.8274 15.7401V10.6729L12.7774 12.7383V19.1549C12.7774 20.1463 11.5932 20.9174 10.1337 20.9174C8.6741 20.9174 7.48992 20.1463 7.48992 19.1549C7.48992 18.191 8.6741 17.3924 10.1337 17.3924C10.4366 17.4199 10.712 17.4475 11.0149 17.5026V10.3149C11.0149 9.92932 11.2628 9.59885 11.6208 9.46116L20.4333 6.87249Z" fill="white"/></svg>');
      width: 28px;
      height: 28px;
      background-size: cover;
      background-repeat: no-repeat;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-tick {
    li {
      &::before {
        background-image: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.869873" y="0.953857" width="27.19" height="27.19" rx="13.595" fill="%23F8DB01"/><path d="M21.2796 14.2464C21.2796 18.0193 18.1953 21.0761 14.45 21.0761C10.6771 21.0761 7.62026 18.0193 7.62026 14.2464C7.62026 10.5011 10.6771 7.41675 14.45 7.41675C18.1953 7.41675 21.2796 10.5011 21.2796 14.2464ZM13.6513 17.8816L18.7185 12.8144C18.8837 12.6492 18.8837 12.3462 18.7185 12.181L18.0851 11.5751C17.9199 11.3824 17.6445 11.3824 17.4792 11.5751L13.3484 15.706L11.3931 13.7783C11.2279 13.5855 10.9525 13.5855 10.7873 13.7783L10.1539 14.3841C9.98862 14.5494 9.98862 14.8523 10.1539 15.0175L13.0179 17.8816C13.1832 18.0468 13.4861 18.0468 13.6513 17.8816Z" fill="white"/></svg>');
      }
    }
  }
}

%line-center {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 120px;
    background-color: $primary;
  }
}

//Mixins

@mixin fluid-font($font-min, $font-max, $screen-min, $screen-max) {
  font-size: #{$font-min}px;

  @media only screen and (min-width: #{$screen-min}px) {
    font-size: calc(
            #{$font-min}px + #{($font-max - $font-min)} * (100vw - #{$screen-min}px) / (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}px) {
    font-size: #{$font-max}px;
  }
}

@mixin minw($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@mixin maxw($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}





