@use '../base/_variables' as *;

$red: #FF0F0F;
$yellow: #F8DB01;
$orange: #FC6600;
$violet: #2D0CD1;
$blue: #3FB3D8;
$purple: #8A3B8F;
$green: #3ED715;

.videos {

  &__list {
    margin-bottom: 40px;

    &-item {
      padding: 60px 0 36px;
      border-bottom: 8px solid $primary;

      &:last-child {
        border-bottom: 0;
      }

      video,
      .wp-block-presto-player-reusable-edit {
        width: 100%;

        @include minw($sm-tablet) {
          width: 50%;
        }

      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 48px;

      @include minw($sm-tablet) {
        align-items: center;
        flex-direction: row;
      }

      span,
      h2 {
        display: block;
        font-size: 2.4rem;
        font-weight: 700;
        color: $text-dark;
        margin-bottom: 40px;
      }

      span {
        text-transform: uppercase;
        display: flex;
        gap: 12px;
        align-items: center;
      }
    }

    &-desc {
      p:first-of-type {
        margin-bottom: 20px;
      }

      ul {
        padding-left: 40px;

        li {
          list-style-type: disc;
        }
      }
    }

    &-additional {
      display: flex;
      flex-direction: column;
      margin-top: 70px;

      li {
        padding-top: 30px;
        padding-bottom: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 48px;
        justify-content: space-between;

        @include minw($sm-tablet) {
          align-items: center;
          flex-direction: row;
        }

        video,
        .wp-block-presto-player-reusable-edit {
          width: 100%;

          @include minw($sm-tablet) {
            width: 50%;
            margin-left: auto;
          }

        }

        &:first-child {
          margin-top: 20px;
        }

        div {
          display: flex;
          gap: 12px;
        }

        p {
          max-width: 576px;
        }

        &::before {
          content: "";
          width: 120px;
          height: 4px;
          background: $primary;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 40px;

  .page-numbers {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 14px;
    height: 32px;
    border: 2px solid $primary;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 600;
    transition: $ease-in;
    color: $text-dark;

    &:hover {
      background: $primary-ultra-light;
    }

    &.dots {
      &:hover {
        background: transparent;
      }
    }

    &.current {
      background: $primary;
    }
  }
}

.accent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  width: 28px;
  height: 28px;
  border-radius: 100%;

  img {
    width: 15px;
    height: auto;
  }
}

.accent {
  &-red {
    .accent {
      background: $red;
    }
  }

  &-orange {
    .accent {
      background: $orange;
    }
  }

  &-yellow {
    .accent {
      background: $yellow;
    }
  }

  &-violet {
    .accent {
      background: $violet;
    }
  }

  &-blue {
    .accent {
      background: $blue;
    }
  }

  &-purple {
    .accent {
      background: $purple;
    }
  }

  &-green {
    .accent {
      background: $green;
    }
  }
}


.lessons {
  margin-top: 60px;

  @include minw($tablet) {
    margin-top: 80px;
  }

  &__container {
    position: relative;
  }

  &__nav {
    position: sticky;
    top: 16px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  &__nav-scroll-wrap-1 {
    align-self: center;
    max-width: 100%;
  }

  &__nav-scroll-wrap-2 {
    margin-left: -16px;
    margin-right: -16px;
    overflow-y: hidden;
    height: 32px;

    @include minw($sm-pc) {
      margin-left: initial;
      margin-right: initial;
      overflow-y: initial;
      height: initial;
    }
  }

  &__nav-scroll-wrap-3 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    overflow-x: auto;

    @include minw($sm-pc) {
      padding-left: initial;
      padding-right: initial;
      padding-bottom: initial;
      overflow-x: initial;
    }
  }

  &__nav-buttons-wrap {
    display: flex;
    gap: 3px;
    width: max-content;

    @include minw($sm-pc) {
      width: initial;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 38px;
    border-radius: 4px;
    border: 2px solid $yellow;
    background-color: #fff8e8;
    cursor: pointer;
    transition: background-color .3s ease;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 600px;
    color: #454545;

    &.active {
      background-color: $yellow;
      pointer-events: none;
    }

    @include minw($sm-pc) {
      &:hover {
        background-color: #f9eed3;
      }
    }

  }

  &__intro-text {
    margin-bottom: 60px;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__item {
    padding-bottom: 60px;

    @include minw($tablet) {
      padding-bottom: 100px;
    }

    &:not(:last-child) {
      border-bottom: 9px solid $yellow;
    }

    &:not(:first-child) {
      margin-top: 60px;

      @include minw($tablet) {
        margin-top: 100px;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    column-gap: 25px;
    @include fluid-font(20, 24, 360, 1440);
    font-weight: bold;

    & i.accent {
      transform: rotate(180deg);
    }
  }

  &__rows {
    margin-top: 20px;

    @include minw($tablet) {
      margin-top: 40px;
    }
  }

  &_row {
    &:not(:first-child) {
      margin-top: 60px;

      @include minw($tablet) {
        margin-top: 80px;
      }
    }

    display: grid;
    row-gap: 40px;
    align-items: start;

    @include minw($tablet) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }

  &__column {
    display: grid;
    gap: 40px;
  }

  &__column-left {}

  &__text {
    &.text-content {
      margin-top: 0;

      & img, & iframe {
        width: 100%;
      }
    }
  }

  &__image {
    & img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  &__media-list {
    display: grid;
    gap: 20px;
  }

  &__media-list-item {}

  &__media {}

  &__media-sign {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
  }

  &__column-right {}

  .text-content {}

}

presto-player::part(video) {
  aspect-ratio:  1 / 0.5625;
}