@use '../base/_variables' as *;

.login {
  padding-bottom: 44px;

  .rank-math-breadcrumb {
    text-align: left;

    a {
      color: $text-dark;
    }
  }

  & .wp_google_login {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include minw($sm-pc) {
      margin-bottom: 58px;
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 576px;
    background: $primary-ultra-light;
    padding: 25px 25px 45px;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      input {
        background: $white;
        padding: 16px;
        width: 100%;
        border: none;
        font-size: 1.6rem;
        color: $text-dark;

        &::placeholder {
          color: $text-dark;
        }

      }

      p {
        margin-bottom: 20px;
      }
    }

    &-buttons {
      justify-content: center;
      display: flex;
      gap: 16px;

      button {
        padding: 12px 24px;
        border-radius: 4px;
        border: 2px solid $primary;
        color: $text-dark;
        font-size: 1.4rem;
        font-weight: 600;
        background: transparent;
        cursor: pointer;
        transition: $ease-in;

        &:hover {
          background: $primary;
        }

        &:last-child {
          background: $primary;

          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}