@use '../base/_variables' as *;

.block-404 {
    padding-bottom: 60px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        line-height: 1;
    }

    &__title {
        color: $text-dark;
        font-size: 120px;
        font-weight: 700;
    }

    &__subtitle {
        @include fluid-font(18, 20, 360, 1440);
    }

    &__btn {
        margin-top: 15px;
    }
}