@use '../base/_variables' as *;

.material-description {
  overflow: hidden;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 0 40px;
    position: relative;

    &:nth-child(2n) {
      &:before {
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 100vw;
        background-color: $primary-ultra-light;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }

      .material-description__video {
        flex-direction: column;
        @include minw($tablet) {
          flex-direction: row-reverse;
        }
      }

    }

    h2 {
      color: $text-dark;
      @include fluid-font(28, 40, 360, 1440);

    }
  }

  &__text {
    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 30px;

      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 40px;
        font-size: 1.4rem;

        @extend %list-style;
      }
    }

    a {
      @extend %primary-btn;
    }
  }

  &__video {
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include minw($tablet) {
      flex-direction: row;
    }

    & > img {
      height: auto;
      display: block;
    }

    iframe, & > img {
      width: 100%;
      @include minw($tablet) {
        width: calc(100% / 2);
        flex: 0 0 auto;
      }
    }

    & .material-description__text {
      flex: 1 1 auto;
    }
  }
}