@use '../base/_variables' as *;

.multicontent {

    &--bg {
        padding-top: 40px;
        padding-bottom: 40px;

        @media (min-width: $mq-lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 8px;
        width: 100%;

        @media (min-width: $mq-md) {
            gap: 16px;
        }

        @media (min-width: $mq-lg) {
            gap: 20px;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        grid-column: span var(--col-size-mob) / span var(--col-size-mob);

        @media (min-width: $mq-md) {
            grid-column: span var(--col-size-tablet) / span var(--col-size-tablet);
        }

        @media (min-width: $mq-lg) {
            grid-column: span var(--col-size-desk) / span var(--col-size-desk);
        }

        &>*:first-child {
            margin-top: 0;
        }

        &.alignment-left {
            text-align: left;
            align-items: flex-start;
        }

        &.alignment-center {
            text-align: center;
            align-items: center;

            & .price__main {
                padding: 0 25px 10px;
            }

            & .price__old {
                margin-left: 66px;
            }
        }

        &.alignment-right {
            text-align: right;
            align-items: flex-end;

            & .price__main {
                padding: 0 0px 10px 25px;
            }

            & .price__old {
                margin-left: 66px;
            }
        }

        & .text-content {
            margin: 0;
        }

        & .multicontent-img,
        & .multicontent-iframe,
        & .multicontent-video {
            background-color: rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            width: 100%;
            height: auto;
            max-width: 100%;
            display: block;
        }

        & .multicontent-img {
            object-fit: cover;
        }
    }
}


.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-video {
    aspect-ratio: 16 / 9;
}

.aspect-vertical {
    aspect-ratio: 9 / 16;
}

.multicontent-space-top {
    margin-top: var(--space-top);
    display: block;
}