@use '../base/_variables' as *;

.courses-img {
  padding-top: 40px;
  padding-bottom: 40px;

  @include minw($sm-pc) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include minw($sm-pc) {
      flex-direction: row;
    }
    @include minw($pc) {
      gap: 80px;
    }

    img {
      height: 400px;
      object-fit: cover;
      width: 100%;
      max-width: 600px;
      @extend %mask;

      @include minw($sm-pc) {
        width: 600px;
      }

      &[src*="1-32-1024x683"] {
        object-position: -45px 0%;

        @include minw(410px) {
          object-position: -28px 0%;
        }
        @include minw(440px) {
          object-position: -8px 0%;
        }
        @include minw(480px) {
          object-position: 11px 0%;
        }
        @include minw(510px) {
          object-position: 24px 0%;
        }

        @include minw($sm-tablet) {
          object-position: 74px 0%;
        }
      }
    }

    h2 {
      padding-bottom: 30px;
      position: relative;

      @include fluid-font(28, 34, 360, 1440);
    }

    ul {
      @extend %custom-list;
    }
  }

  &__list {
    max-width: 576px;
  }
}