@use '../base/_variables' as *;

.video {
  padding-bottom: 60px;
  padding-top: 40px;
  background-color: #F9DC011A;
  @include minw($sm-pc) {
    padding-bottom: 100px;
    padding-top: 80px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 48px;
      position: relative;
      text-align: center;
      @include fluid-font(28, 34, 360, 1440);

    }

    iframe {
      max-width: 560px;
      width: 100%;
    }


  }
}