@use '../base/_variables' as *;

.certificates-slider {
    margin-bottom: 60px;

    &__slider {
        margin-top: 30px;

        @include minw($sm-pc) {
            margin-top: 15px;
        }

        &:first-child {
            margin-top: 0;
        }

    }

    &__slider-item {
        position: relative;
        aspect-ratio: 1 / 1.25;
        border-radius: 8px;
        display: block;
        overflow: hidden;
        outline: 2px solid $primary-medium;
        outline-offset: -2px;
        transition: $ease-in; 

        &:hover {
             outline-color: darken($primary-medium, 2%);

             & svg {
                transform: scale(1.1);
             }
        }

        img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & svg {
            height: 34px;
            width: 34px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: $primary;
            filter: drop-shadow(2px 2px 0px rgba(#000, 0.5));
            transition: $ease-in;
        }
    }
}