@use '../base/_variables' as *;

.year-lessons {
  margin-bottom: 50px;
  &:not(:first-child) {
    margin-top: 80px;
  }

  iframe {
    width: 100%;
  }

  &__list {
    h2 {
      margin-bottom: 50px;
      text-align: center;

      @include minw($sm-pc) {
        margin-bottom: 75px;
      }
    }

    &-wrap {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
      margin-bottom: 60px;

      @include minw($sm-pc) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    iframe {
      align-self: center;
      margin-bottom: 60px;
    }

    h3 {
      margin-bottom: 30px;
      font-size: 1.8rem;
    }

    ul {
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 40px;
        font-size: 1.4rem;
        @extend %list-style;

        a {
          color: $text-dark;
          border-bottom: 1px solid $text-dark;
        }
      }
    }
  }

  &__additional {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include minw($sm-pc) {
      flex-direction: row;
    }

    iframe {
      width: 100%;

      @include minw($sm-pc) {
        width: calc(50% - 12px);
        flex: 0 0 auto;
      }
    }
  }

  &__additional-text {
    flex: 1 1 auto;

    & p:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}