@use '../base/_variables' as *;

.about {
  margin-bottom: 80px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    @include minw($tablet) {
      flex-direction: row;
    }
  }

  &__image {
    max-width: 480px;
    width: 100%;

    img {
      width: 100%;
      @extend %mask-about;
    }
  }

  &__text {
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      line-height: 1.2em;
      display: block;
      text-align: center;
      @include fluid-font(24, 34, 360, 1200);
    }

    h2 {
      @extend %line-decoration;
      padding-bottom: 16px;
      width: fit-content;
      text-align: center;
      margin: 0 auto 32px;
      @include fluid-font(54, 84, 360, 1200);
    }

    p {
      text-align: center;
      @include minw($sm-tablet) {
        max-width: 90%;
      }
    }
  }

}