@use '../base/_variables' as *;

.updates {
  h1 {
    max-width: 1014px;
    margin: 0 auto 58px;
    text-align: center;
  }

  nav {
    a {
      color: $text-dark;
    }
  }

  &__list {
    margin-top: 56px;

    &-item {
      display: flex;
      align-items: center;
      gap: 28px;
      padding: 48px 0 32px;
      border-bottom: 8px solid $primary;
      flex-direction: column;

      @include minw($sm-tablet) {
        flex-direction: row;
      }

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      &-video {
        width: 100%;
        @include minw($sm-tablet) {
          width: 50%;
        }

        iframe, video {
         height: auto;
          width: 100%;
          @include minw($sm-tablet) {
            height: 416px;
          }
        }
      }

      &-info {
        width: 100%;
        @include minw($sm-tablet) {
          width: 50%;
        }
      }

      h2, h3 {
        margin-bottom: 36px;
        color: $text-dark;
        text-align: center;
        @include fluid-font(26, 28, 360, 1440);
      }

      &-audio {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 60px;
          display: flex;
          flex-direction: column;
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }
        }

        audio {
          width: 100%;
        }
      }
    }
  }
}