@use '../base/_variables' as *;


.songs {
  padding-bottom: 36px;
  padding-top: 40px;
  @include minw($sm-pc) {
    padding-top: 80px;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;


    @include minw($sm-tablet) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    background: $white;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    transition: $ease-in;
    padding: 16px;
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .2);

    @include minw($lg-mob) {
      padding: 30px;
    }

    @include minw($sm-tablet) {
      flex: 0 1 calc(50% - 10px);
    }

    @include minw($sm-pc) {
      flex: 0 1 calc(33.33333% - (20px * 2 / 3));
    }

    &:hover {
      border-color: $primary;
    }


    &-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2 {
        margin-bottom: 30px;
        font-size: 1.8rem;
      }

      img {
        width: 100%;
        max-width: 225px;
        max-height: 300px;
        margin-bottom: 10px;
        border-radius: 4px;
      }

      span {
        @extend %price;
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 1.4rem;
      }

      button {
        margin-bottom: 20px;
        @extend %primary-btn;
      }
    }

    &-additional {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      div {
        margin-bottom: 20px;

        a {
          color: $text-dark;
          border-bottom: 1px solid $text-dark;
        }

        p {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    & .link {
      align-self: start;
      line-height: 1.4em;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__link {
    align-self: center;
    margin-top: auto;
    gap: 20px;
    @extend %primary-btn;
    @extend %light-btn;
  }
}