@use '../base/_variables' as *;

.groups {
  background-color: $primary-ultra-light;
  padding: 82px 0;

  &__title {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 30px;

    @include minw($sm-pc) {
      margin-bottom: 70px;
    }

    &:after {
      position: absolute;
      content: "";
      height: 4px;
      width: 100%;
      max-width: 120px;
      background-color: #f8db01;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }

    h2 {
      @include fluid-font(28, 34, 360, 1440);
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 48px;

    @include minw($lg-mob) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include minw($sm-pc) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    img,
    iframe {
      width: 100%;
    }

    iframe {
      max-width: 368px;
      max-height: 208px;
      margin-top: 16px;
    }

    img {
      width: 214px;
      height: 214px;
      border-radius: 100%;
      border: 3px solid $primary;
      object-fit: cover;
      margin-bottom: 22px;
    }

    h3 {
      @include fluid-font(24, 28, 360, 1440);
    }

    span {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}