@use '../base/_variables' as *;

.contacts {
  padding: 60px 0;
  background: linear-gradient(355deg, rgba(249, 220, 1, 0.1) 45%, rgba(255, 255, 255, 0) 45%);


  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    @include minw($sm-tablet){
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    display: flex;
    justify-content: center;

    img {
      max-width: 400px;
      width: 100%;
    }
  }

  &__info {
    &-numbers {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 32px;

      h2 {
        margin-bottom: 20px;
        color: $text-dark;
        text-transform: uppercase;
        font-weight: 600;
        @include fluid-font(24, 32, 360, 1200);
      }

      p {
        margin-bottom: 20px;
      }

      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 20px;

          a {
            color: $text;
            display: flex;
            align-items: center;
            gap: 6px;
          }

          & img {
            height: 20px;
            width: auto;
            flex: 0 0 auto;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-socials {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-bottom: 16px;
        color: $text-dark;
        @include fluid-font(24, 32, 360, 1200);
      }

      ul {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      li {        
        a {
          background-color: $primary;
          border-radius: 100%;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        & img {
          filter: $text-filter;
        }
      }
    }
  }
}
