@use "base/_variables" as *;
@use "base/_reset" as *;
@use 'base/_fonts' as *;
@use './components/forms.scss';
@use './components/global-ui.scss';
@use 'typography.scss';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  outline: none;
}


body {
  line-height: 1.8em;
  font-weight: 400;
  font-family: $primary-font;
  color: $text;
  font-size: 1.4rem;

  &.open-menu {
    overflow: hidden;
  }
}

.overflow-hidden {
  overflow: hidden;
}

//Scrollbar

.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $primary $primary-ultra-light;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-ultra-light;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 4px;
    transition: $ease-in;
  }
}

//UI Kit

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.container--fluid {
  max-width: 1440px;
  width: 100%;
  padding: 0 26px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2em;
}

.page__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .page__title {
    text-align: center;
  }

  nav {
    align-self: flex-start;
    padding: 20px 0;
    width: 100%;

    * {
      color: $text;
    }
  }
}


.auth-popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $ease-in;
  opacity: 0;
  visibility: hidden;
  overflow: auto;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 16px;
  }

  &__content {
    background: #FFF8E8;
    padding: 25px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 576px;
    width: 100%;
    position: relative;

    & [data-action="close-auth-popup"] {
      padding: 5px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      position: absolute;
      z-index: 5;
      top: 10px;
      right: 10px;

      & svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  &__title {
    text-align: center
  }

  &__buttons-wrap {
    & .wp_google_login {
      max-width: 300px;
    }
  }
}


// buttons
.btn-default {
  @extend %primary-btn;
}

.stroke_theme {
  padding: 6px 25px;
  border-radius: 4px;
  border: 2px solid $primary;
  background: transparent;
  cursor: pointer;
  color: $text;
  font-size: 1.4rem;
  transition: $ease-in;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;

  &.is-active,
  &:hover {
    background: $primary;
  }
}

.stroke_dark {
  padding: 6px 25px;
  border-radius: 4px;
  border: 2px solid $text;
  background: transparent;
  cursor: pointer;
  color: $text;
  font-size: 1.4rem;
  transition: $ease-in;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;

  &.is-active,
  &:hover {
    background: $primary;
    border-color: $primary;
  }
}

// and buttons

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.btn-loading {
  animation: btn-loading 2s ease infinite;
}

@keyframes btn-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


iframe {
  border-radius: 12px;
}

// presto player styles
presto-player::part(wrapper) {
  border-radius: 12px;
  overflow: hidden;
}


// helpers
.wp-caption {
  max-width: 100%;
  -webkit-user-drag: none;

  @media (max-width: 599.98px) {
    width: 100% !important;

    & img {
      width: 100%;
    }
  }
}

.alignleft {
  @include minw($lg-mob) {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }
}

.alignright {
  @include minw($lg-mob) {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-space-top-lg {
  margin-top: 80px;

  @media (min-width: $mq-xl) {
    margin-top: 100px;
  }
}

.section-space-top-md {
  margin-top: 40px;


  @media (min-width: $mq-xl) {
    margin-top: 50px;
  }
}

.section-space-top-sm {
  margin-top: 20px;

  @media (min-width: $mq-xl) {
    margin-top: 25px;
  }
}

.section-space-top-0 {
  margin-top: 0px;
}

.price {
  &__old {
    margin-left: 40px;
    font-weight: bold;
    text-decoration: line-through;
  }

  &__main {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 14px;

    &::before {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3643 9.02808C21.1064 9.77026 21.1064 10.9812 20.3643 11.6843L12.3955 19.6531C11.6924 20.3953 10.4814 20.3953 9.73926 19.6531L1.49707 11.4109C1.14551 11.0593 0.950195 10.5906 0.950195 10.0828V2.07495C0.950195 1.05933 1.77051 0.199951 2.8252 0.199951H10.7939C11.3018 0.199951 11.7705 0.434326 12.1221 0.785889L20.3643 9.02808ZM5.3252 6.44995C6.34082 6.44995 7.2002 5.62964 7.2002 4.57495C7.2002 3.55933 6.34082 2.69995 5.3252 2.69995C4.27051 2.69995 3.4502 3.55933 3.4502 4.57495C3.4502 5.62964 4.27051 6.44995 5.3252 6.44995ZM25.3643 11.6843L17.3955 19.6531C16.6924 20.3953 15.4814 20.3953 14.7393 19.6531L21.5361 12.8562C22.2002 12.1921 22.5908 11.2937 22.5908 10.3562C22.5908 9.4187 22.2002 8.55933 21.5361 7.89526L13.8799 0.199951H15.7939C16.3018 0.199951 16.7705 0.434326 17.1221 0.785889L25.3643 9.02808C26.1064 9.77026 26.1064 10.9812 25.3643 11.6843Z" fill="%23454545"/></svg>');
      background-size: cover;
      width: 25px;
      height: 20px;
    }
  }
}